## Домашнее задание «Библиотека Pandas»

### Задание 1
Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd

In [3]:
ratings = pd.read_csv(r'C:\Users\Лина\OneDrive\Рабочий стол\study\PYDP-19\pandas_p1\ml-latest\ml-latest\ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [4]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27753444 entries, 0 to 27753443
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 847.0 MB

In [13]:
ratings[ratings.rating == 5.0].groupby('movieId').count().sort_values(by = 'rating', ascending = False).head(1)

         userId  rating  timestamp
movieId
318       48762   48762      48762

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [28]:
df = pd.read_csv(r'C:\Users\Лина\OneDrive\Рабочий стол\study\PYDP-19\pandas_p1\power.csv')
df.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [ ]:
# найдем нужные нам страны

In [33]:
df[ df['country'].str.contains('lat', case=False) ]['country'].unique()

array(['Latvia'], dtype=object)

In [34]:
df[ df['country'].str.contains('lit', case=False) ]['country'].unique()

array(['Lithuania'], dtype=object)

In [35]:
df[ df['country'].str.contains('toni', case=False) ]['country'].unique()

array(['Estonia'], dtype=object)

In [70]:
baltic = ['Latvia', 'Lithuania', 'Estonia']

In [73]:
category_list = [4, 12, 21]

In [64]:
df[df.year.between(2005, 2010)]

          country  year  quantity  category
6         Belgium  2010     22.00         1
7         Belgium  2009     45.00         1
10        Finland  2010      9.00         1
11        Finland  2009     13.00         1
12        Finland  2008     39.00         1
...           ...   ...       ...       ...
1189473   Vanuatu  2009      5.63        71
1189474   Vanuatu  2008      5.63        71
1189479  Viet Nam  2010     50.00        71
1189480  Viet Nam  2009     10.00        71
1189481  Viet Nam  2008      1.00        71

[313013 rows x 4 columns]

In [71]:
df[(df.country.isin(baltic))]

           country  year  quantity  category
373      Lithuania  2014      39.0         1
374      Lithuania  2013     192.0         1
375      Lithuania  2012     196.0         1
376      Lithuania  2011     171.0         1
377      Lithuania  2010     158.0         1
...            ...   ...       ...       ...
1188862  Lithuania  2003       0.0        71
1188863  Lithuania  2002       0.0        71
1188864  Lithuania  2001       0.0        71
1188865  Lithuania  2000       0.0        71
1188866  Lithuania  1999       0.0        71

[27306 rows x 4 columns]

In [ ]:
# проверим кол-во строк

In [69]:
df[(df.country == 'Latvia') | (df.country == 'Lithuania') | (df.country == 'Estonia')]

           country  year  quantity  category
373      Lithuania  2014      39.0         1
374      Lithuania  2013     192.0         1
375      Lithuania  2012     196.0         1
376      Lithuania  2011     171.0         1
377      Lithuania  2010     158.0         1
...            ...   ...       ...       ...
1188862  Lithuania  2003       0.0        71
1188863  Lithuania  2002       0.0        71
1188864  Lithuania  2001       0.0        71
1188865  Lithuania  2000       0.0        71
1188866  Lithuania  1999       0.0        71

[27306 rows x 4 columns]

In [90]:
df[(df.year.between(2005, 2010)) & (df.country.isin(baltic)) & (df.category.isin(category_list)) & (df.quantity >= 0)]

          country  year  quantity  category
10617     Estonia  2008       1.0         4
10618     Estonia  2007       0.0         4
10619     Estonia  2006       0.0         4
10620     Estonia  2005       1.0         4
11156   Lithuania  2008       1.0         4
...           ...   ...       ...       ...
253982  Lithuania  2009      98.0        21
253983  Lithuania  2008      54.0        21
253984  Lithuania  2007      47.0        21
253985  Lithuania  2006      31.0        21
253986  Lithuania  2005       1.0        21

[408 rows x 4 columns]

In [89]:
df[['quantity']][(df.year.between(2005, 2010)) & (df.country.isin(baltic)) & (df.category.isin(category_list)) & (df.quantity >= 0)].sum()

quantity    240580.0
dtype: float64

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
www.finanz.ru...om-vremeni

In [94]:
url = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'

In [111]:
?pd.read_html

In [120]:
data = pd.read_html(url, header = None, encoding='utf-8')
data

[     0       1      2        3       4      5        6       7      8   \
 0  ММВБ   3 805  -0,7%   Nasdaq  14 836  -0,4%  Биткойн  44 096  -1,2%
 1   РТС   1 633  -1,2%   S&P500   4 437   0,2%    Нефть     705  -1,0%
 2   Dow  35 209   0,4%  FTSE100   7 123   0,0%   Золото   1 763   0,0%

         9       10     11
 0  USD/RUB  730649  -0,1%
 1  EUR/RUB  863805   0,0%
 2  EUR/USD   11761   0,0%  ,
     Unnamed: 0              Рубль  Предложение  Спрос  Предыдущее закрытие  \
 0          NaN            GBP/RUB      1013666      -              1013703
 1          NaN            EUR/RUB       863805      -               863805
 2          NaN            USD/RUB       730649      -               731236
 3          NaN            JPY/RUB        06629      -                06628
 4          NaN            CNY/RUB       112693      -               112692
 5          NaN            CHF/RUB       798681      -               798873
 6          NaN               Евро  Предложение  Спрос  Предыдущее закрытие
 7          NaN            EUR/USD        11761      -                11764
 8          NaN            EUR/GBP        08479      -                08479
 9          NaN            EUR/JPY      1296700      -              1296900
 10         NaN            EUR/CHF        10762      -                10762
 11         NaN         Доллар США  Предложение  Спрос  Предыдущее закрытие
 12         NaN            USD/EUR        08503      -                08500
 13         NaN            USD/GBP        07208      -                07208
 14         NaN            USD/JPY      1102250      -              1102250
 15         NaN            USD/CHF        09148      -                09146
 16         NaN      Японская иена  Предложение  Спрос  Предыдущее закрытие
 17         NaN    JPY/EUR (100:1)        07700      -                07700
 18         NaN            JPY/GBP        00065      -                00065
 19         NaN            JPY/USD        00091      -                00091
 20         NaN    JPY/CHF (100:1)        08300      -                08300
 21         NaN    Фунт стерлингов  Предложение  Спрос  Предыдущее закрытие
 22         NaN            GBP/USD        13874      -                13874
 23         NaN            GBP/JPY      1529207      -              1529400
 24         NaN            GBP/EUR        11794      -                11796
 25         NaN            GBP/CHF        12690      -                12689
 26         NaN  Швейцарский франк  Предложение  Спрос  Предыдущее закрытие
 27         NaN            GBP/CHF        12690      -                12689
 28         NaN            EUR/CHF        10762      -                10762
 29         NaN    JPY/CHF (100:1)        08300      -                08300
 30         NaN            USD/CHF        09148      -                09146
 31         NaN  Украинская гривна  Предложение  Спрос  Предыдущее закрытие
 32         NaN            EUR/UAH       316914      -               315171
 33         NaN            USD/UAH       269462      -               267900
 34         NaN            CHF/UAH       294552      -               292915
 35         NaN            GBP/UAH       373838      -               371685

           %  Абсолютное значение       Время
 0    0,00 %               -00037  07.08.2021
 1    0,00 %                00000  07.08.2021
 2   -0,08 %               -00587  07.08.2021
 3    0,01 %                00001  07.08.2021
 4    0,00 %                00001  07.08.2021
 5   -0,02 %               -00192  07.08.2021
 6         %  Абсолютное значение       Время
 7   -0,03 %               -00003  07.08.2021
 8    0,01 %                00001  07.08.2021
 9   -0,02 %               -00200  07.08.2021
 10   0,00 %               -00001  07.08.2021
 11        %  Абсолютное значение       Время
 12   0,03 %                00003  07.08.2021
 13   0,00 %                00000  07.08.2021
 14   0,00 %                00000  07.08.2021
 15   0,02 %                00002  07.08.2021
 16        %  Абсолютное значение       Время
 17   0,04 %                00000  07.08.2021
 18   0,01 %                00000  07.08.2021
 19   0,01 %                00000  07.08.2021
 20   0,01 %                00000  07.08.2021
 21        %  Абсолютное значение       Время
 22   0,00 %               -00001  07.08.2021
 23  -0,01 %               -00194  07.08.2021
 24  -0,02 %               -00003  07.08.2021
 25   0,01 %                00001  07.08.2021
 26        %  Абсолютное значение       Время
 27   0,01 %                00001  07.08.2021
 28   0,00 %               -00001  07.08.2021
 29   0,01 %                00000  07.08.2021
 30   0,02 %                00002  07.08.2021
 31        %  Абсолютное значение       Время
 32   0,55 %                01743  07.08.2021
 33   0,58 %                01562  07.08.2021
 34   0,56 %                01637  07.08.2021
 35   0,58 %                02154  07.08.2021  ,
                                                    0  \
 0                                      Имя и фамилия
 1                                            Телефон
 2                                                NaN
 3  Я даю согласие на обработку своих персональных...

                                                    1  \
 0                                              Город
 1                                              Email
 2                                                NaN
 3  Я даю согласие на обработку своих персональных...

                                                    2  \
 0                                                NaN
 1                                                NaN
 2  Спасибо! Ваша заявка отправлена Финансовый кон...
 3                                                NaN

                                                    3  \
 0                                                NaN
 1                                                NaN
 2  Спасибо! Ваша заявка отправлена Финансовый кон...
 3                                                NaN

                                                    4  \
 0                                                NaN
 1                                                NaN
 2  ошибка: не удалось создать заявку в журнале за...
 3                                                NaN

                                                    5                       6  \
 0                                                NaN                     NaN
 1                                                NaN                     NaN
 2  ошибка: не удалось создать заявку в журнале за...  ошибка: не POST-запрос
 3                                                NaN                     NaN

                         7                                                  8  \
 0                     NaN                                                NaN
 1                     NaN                                                NaN
 2  ошибка: не POST-запрос  Просим Вас согласиться на передачу и обработку...
 3                     NaN                                                NaN

                                                    9
 0                                                NaN
 1                                                NaN
 2  Просим Вас согласиться на передачу и обработку...
 3                                                NaN  ]

In [121]:
len(data)

3

In [138]:
df1 = data[0]
df1

,0,1,2,3,4,5,6,7,8,9,10,11
0,ММВБ,3 805,"-0,7%",Nasdaq,14 836,"-0,4%",Биткойн,44 096,"-1,2%",USD/RUB,730649,"-0,1%"
1,РТС,1 633,"-1,2%",S&P500,4 437,"0,2%",Нефть,705,"-1,0%",EUR/RUB,863805,"0,0%"
2,Dow,35 209,"0,4%",FTSE100,7 123,"0,0%",Золото,1 763,"0,0%",EUR/USD,11761,"0,0%"

In [142]:
df11 = df1[[0,1,2]]

In [157]:
df12 = df1[[3,4,5]].rename(columns = {3:0, 4:1, 5:2} )
df12

         0       1      2
0   Nasdaq  14 836  -0,4%
1   S&P500   4 437   0,2%
2  FTSE100   7 123   0,0%

In [159]:
df13 = df1[[6,7,8]].rename(columns = {6:0, 7:1, 8:2} )
df13

         0       1      2
0  Биткойн  44 096  -1,2%
1    Нефть     705  -1,0%
2   Золото   1 763   0,0%

In [161]:
df14 = df1[[9,10,11]].rename(columns = {9:0, 10:1, 11:2} )
df14

         0       1      2
0  USD/RUB  730649  -0,1%
1  EUR/RUB  863805   0,0%
2  EUR/USD   11761   0,0%

In [ ]:
# 1ый dataframe, преобразованный для дальнейшей работы

In [174]:
df1 = pd.concat([df11, df12, df13, df14])
df1

         0       1      2
0     ММВБ   3 805  -0,7%
1      РТС   1 633  -1,2%
2      Dow  35 209   0,4%
0   Nasdaq  14 836  -0,4%
1   S&P500   4 437   0,2%
2  FTSE100   7 123   0,0%
0  Биткойн  44 096  -1,2%
1    Нефть     705  -1,0%
2   Золото   1 763   0,0%
0  USD/RUB  730649  -0,1%
1  EUR/RUB  863805   0,0%
2  EUR/USD   11761   0,0%

In [177]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       12 non-null     object
 1   1       12 non-null     object
 2   2       12 non-null     object
dtypes: object(3)
memory usage: 384.0+ bytes

In [187]:
df2 = data[1]
df2

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,1013666,-,1013703,"0,00 %",-00037,07.08.2021
1,NaN,EUR/RUB,863805,-,863805,"0,00 %",00000,07.08.2021
2,NaN,USD/RUB,730649,-,731236,"-0,08 %",-00587,07.08.2021
3,NaN,JPY/RUB,06629,-,06628,"0,01 %",00001,07.08.2021
4,NaN,CNY/RUB,112693,-,112692,"0,00 %",00001,07.08.2021
5,NaN,CHF/RUB,798681,-,798873,"-0,02 %",-00192,07.08.2021
6,NaN,Евро,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
7,NaN,EUR/USD,11761,-,11764,"-0,03 %",-00003,07.08.2021
8,NaN,EUR/GBP,08479,-,08479,"0,01 %",00001,07.08.2021
9,NaN,EUR/JPY,1296700,-,1296900,"-0,02 %",-00200,07.08.2021
10,NaN,EUR/CHF,10762,-,10762,"0,00 %",-00001,07.08.2021
11,NaN,Доллар США,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
12,NaN,USD/EUR,08503,-,08500,"0,03 %",00003,07.08.2021
13,NaN,USD/GBP,07208,-,07208,"0,00 %",00000,07.08.2021
14,NaN,USD/JPY,1102250,-,1102250,"0,00 %",00000,07.08.2021
15,NaN,USD/CHF,09148,-,09146,"0,02 %",00002,07.08.2021
16,NaN,Японская иена,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
17,NaN,JPY/EUR (100:1),07700,-,07700,"0,04 %",00000,07.08.2021
18,NaN,JPY/GBP,00065,-,00065,"0,01 %",00000,07.08.2021
19,NaN,JPY/USD,00091,-,00091,"0,01 %",00000,07.08.2021
20,NaN,JPY/CHF (100:1),08300,-,08300,"0,01 %",00000,07.08.2021
21,NaN,Фунт стерлингов,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
22,NaN,GBP/USD,13874,-,13874,"0,00 %",-00001,07.08.2021
23,NaN,GBP/JPY,1529207,-,1529400,"-0,01 %",-00194,07.08.2021
24,NaN,GBP/EUR,11794,-,11796,"-0,02 %",-00003,07.08.2021
25,NaN,GBP/CHF,12690,-,12689,"0,01 %",00001,07.08.2021
26,NaN,Швейцарский франк,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
27,NaN,GBP/CHF,12690,-,12689,"0,01 %",00001,07.08.2021
28,NaN,EUR/CHF,10762,-,10762,"0,00 %",-00001,07.08.2021
29,NaN,JPY/CHF (100:1),08300,-,08300,"0,01 %",00000,07.08.2021
30,NaN,USD/CHF,09148,-,09146,"0,02 %",00002,07.08.2021
31,NaN,Украинская гривна,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
32,NaN,EUR/UAH,316914,-,315171,"0,55 %",01743,07.08.2021
33,NaN,USD/UAH,269462,-,267900,"0,58 %",01562,07.08.2021
34,NaN,CHF/UAH,294552,-,292915,"0,56 %",01637,07.08.2021
35,NaN,GBP/UAH,373838,-,371685,"0,58 %",02154,07.08.2021

In [191]:
df2 = df2[df2['Предложение'] != 'Предложение'].rename(columns = {'Рубль': 'Валюты'})
df2

,Unnamed: 0,Валюты,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,1013666,-,1013703,"0,00 %",-00037,07.08.2021
1,NaN,EUR/RUB,863805,-,863805,"0,00 %",00000,07.08.2021
2,NaN,USD/RUB,730649,-,731236,"-0,08 %",-00587,07.08.2021
3,NaN,JPY/RUB,06629,-,06628,"0,01 %",00001,07.08.2021
4,NaN,CNY/RUB,112693,-,112692,"0,00 %",00001,07.08.2021
5,NaN,CHF/RUB,798681,-,798873,"-0,02 %",-00192,07.08.2021
7,NaN,EUR/USD,11761,-,11764,"-0,03 %",-00003,07.08.2021
8,NaN,EUR/GBP,08479,-,08479,"0,01 %",00001,07.08.2021
9,NaN,EUR/JPY,1296700,-,1296900,"-0,02 %",-00200,07.08.2021
10,NaN,EUR/CHF,10762,-,10762,"0,00 %",-00001,07.08.2021
12,NaN,USD/EUR,08503,-,08500,"0,03 %",00003,07.08.2021
13,NaN,USD/GBP,07208,-,07208,"0,00 %",00000,07.08.2021
14,NaN,USD/JPY,1102250,-,1102250,"0,00 %",00000,07.08.2021
15,NaN,USD/CHF,09148,-,09146,"0,02 %",00002,07.08.2021
17,NaN,JPY/EUR (100:1),07700,-,07700,"0,04 %",00000,07.08.2021
18,NaN,JPY/GBP,00065,-,00065,"0,01 %",00000,07.08.2021
19,NaN,JPY/USD,00091,-,00091,"0,01 %",00000,07.08.2021
20,NaN,JPY/CHF (100:1),08300,-,08300,"0,01 %",00000,07.08.2021
22,NaN,GBP/USD,13874,-,13874,"0,00 %",-00001,07.08.2021
23,NaN,GBP/JPY,1529207,-,1529400,"-0,01 %",-00194,07.08.2021
24,NaN,GBP/EUR,11794,-,11796,"-0,02 %",-00003,07.08.2021
25,NaN,GBP/CHF,12690,-,12689,"0,01 %",00001,07.08.2021
27,NaN,GBP/CHF,12690,-,12689,"0,01 %",00001,07.08.2021
28,NaN,EUR/CHF,10762,-,10762,"0,00 %",-00001,07.08.2021
29,NaN,JPY/CHF (100:1),08300,-,08300,"0,01 %",00000,07.08.2021
30,NaN,USD/CHF,09148,-,09146,"0,02 %",00002,07.08.2021
32,NaN,EUR/UAH,316914,-,315171,"0,55 %",01743,07.08.2021
33,NaN,USD/UAH,269462,-,267900,"0,58 %",01562,07.08.2021
34,NaN,CHF/UAH,294552,-,292915,"0,56 %",01637,07.08.2021
35,NaN,GBP/UAH,373838,-,371685,"0,58 %",02154,07.08.2021

In [178]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           0 non-null      float64
 1   Рубль                36 non-null     object
 2   Предложение          36 non-null     object
 3   Спрос                36 non-null     object
 4   Предыдущее закрытие  36 non-null     object
 5   %                    36 non-null     object
 6   Абсолютное значение  36 non-null     object
 7   Время                36 non-null     object
dtypes: float64(1), object(7)
memory usage: 2.4+ KB

In [ ]:
del df2['Unnamed: 0'] # удаляем столбец с пустыми значениями

In [ ]:
# 2ой dataframe, преобразованный для дальнейшей работы

In [200]:
df2

,Валюты,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,GBP/RUB,1013666,-,1013703,"0,00 %",-00037,07.08.2021
1,EUR/RUB,863805,-,863805,"0,00 %",00000,07.08.2021
2,USD/RUB,730649,-,731236,"-0,08 %",-00587,07.08.2021
3,JPY/RUB,06629,-,06628,"0,01 %",00001,07.08.2021
4,CNY/RUB,112693,-,112692,"0,00 %",00001,07.08.2021
5,CHF/RUB,798681,-,798873,"-0,02 %",-00192,07.08.2021
7,EUR/USD,11761,-,11764,"-0,03 %",-00003,07.08.2021
8,EUR/GBP,08479,-,08479,"0,01 %",00001,07.08.2021
9,EUR/JPY,1296700,-,1296900,"-0,02 %",-00200,07.08.2021
10,EUR/CHF,10762,-,10762,"0,00 %",-00001,07.08.2021
12,USD/EUR,08503,-,08500,"0,03 %",00003,07.08.2021
13,USD/GBP,07208,-,07208,"0,00 %",00000,07.08.2021
14,USD/JPY,1102250,-,1102250,"0,00 %",00000,07.08.2021
15,USD/CHF,09148,-,09146,"0,02 %",00002,07.08.2021
17,JPY/EUR (100:1),07700,-,07700,"0,04 %",00000,07.08.2021
18,JPY/GBP,00065,-,00065,"0,01 %",00000,07.08.2021
19,JPY/USD,00091,-,00091,"0,01 %",00000,07.08.2021
20,JPY/CHF (100:1),08300,-,08300,"0,01 %",00000,07.08.2021
22,GBP/USD,13874,-,13874,"0,00 %",-00001,07.08.2021
23,GBP/JPY,1529207,-,1529400,"-0,01 %",-00194,07.08.2021
24,GBP/EUR,11794,-,11796,"-0,02 %",-00003,07.08.2021
25,GBP/CHF,12690,-,12689,"0,01 %",00001,07.08.2021
27,GBP/CHF,12690,-,12689,"0,01 %",00001,07.08.2021
28,EUR/CHF,10762,-,10762,"0,00 %",-00001,07.08.2021
29,JPY/CHF (100:1),08300,-,08300,"0,01 %",00000,07.08.2021
30,USD/CHF,09148,-,09146,"0,02 %",00002,07.08.2021
32,EUR/UAH,316914,-,315171,"0,55 %",01743,07.08.2021
33,USD/UAH,269462,-,267900,"0,58 %",01562,07.08.2021
34,CHF/UAH,294552,-,292915,"0,56 %",01637,07.08.2021
35,GBP/UAH,373838,-,371685,"0,58 %",02154,07.08.2021